*
{
    margin:0;
    padding:0;
    background: linear-gradient();
}
/* h2 a{
    
    margin-left: 10px;
} */

table{
    border: 2px solid white;
    border-collapse: collapse;
    padding:10px 20px;
    width: 500px;
    margin-left: 40px;
}



.n1{background-color: rgb(32, 135, 133);}


.n2{background-color: brown;}


.n3{background-color: aqua;}

.n4{background-color: blue;}

.n5{background-color: green;}

.n6{background-color: rgb(58, 32, 3);}

.n7{background-color: orange;}

.n8{background-color: blue;}

.n9{background-color: rgb(235, 104, 242);}

table,td{
    border: 2px solid white;
    height: 40px;
    
}

/* .s a:hover{
    color: red;
    /* transform: ; */


table a:hover {color: #ea0101;
   }

   tr a:hover{

   }

  table  a:hover {
    color: red;
  }

  .Heading1 a:hover{
    background-color: red;
     /* color: red ; */
 
}
